<li *ngIf="carItems.length>0" class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown
  </a>
  <ul class="dropdown-menu">
    <li *ngFor="let carItem of carItems"><a class="dropdown-item"><span
      class="badge text-bg-secondary">{{carItem.quantity}}</span>{{carItem.product.productName}}<span
      class="badge text-bg-secondary" (click)="removeFromCart(carItem.product)">Sil</span></a></li>
    <li>
      <hr class="dropdown-divider">
    </li>
    <li><a class="dropdown-item">Sepete git</a></li>
  </ul>
</li>
